# AWS Credentials — preencha com as chaves recebidas pelo time (não commitar valores reais)
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1

# S3 — bucket compartilhado do time
S3_BUCKET_NAME=tech-challenge-alfabetizacao-01
S3_RAW_PREFIX=raw
S3_BRONZE_PREFIX=bronze
S3_SILVER_PREFIX=silver
S3_GOLD_PREFIX=gold

# Base dos Dados
BASEDOSDADOS_PROJECT_ID=

# Glue
GLUE_DATABASE=alfabetizacao_db
GLUE_IAM_ROLE=arn:aws:iam::536035781439:role/GlueServiceRole

# Athena
ATHENA_OUTPUT_LOCATION=s3://tech-challenge-alfabetizacao-renan/athena-results/

USE_AWS=true
